*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --anim-time: 0.2s;
    --opacity: 0.3;
    --scale: 1.1;
}

button,
input {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
}
select {
    border: none;
    background-color: transparent;
}

html {
    overflow: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

header {
    text-align: center;
    margin: 50px 0;
}

h1 {
    color: #949494;
}
h3 {
    font-size: 21px;
}

.beatmaker-container {
    width: 80vw;
    margin: 0 auto 50px;
}
.tracks-container {
    min-width: 900px;
    margin-bottom: 20px;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.track-title-container {
    flex: 1;
}
.audio-select-container {
    flex: 1;
}
.mute-btn-container {
    flex: 0.6;
    display: flex;
}
.pads-container {
    display: flex;
    flex: 2;
}

.audio-select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
}
.pad {
    width: 65px;
    height: 65px;
    margin: 10px 5px;
}

.mute-btn {
    margin: auto;
    padding: 10px;
    background-color: rgb(53, 53, 53);
    color: white;
    transition: all var(--anim-time) ease-in-out;
}
.mute-btn:hover {
    transform: scale(var(--scale));
}
.mute-btn.active {
    opacity: var(--opacity);
}
.mute-btn i {
    pointer-events: none;
}

.play-btn-container,
.slider-container {
    text-align: center;
}
.play {
    margin: 20px auto;
    color: white;
    padding: 15px 25px;
    font-size: 1.2rem;
    background-color: rgb(53, 53, 53);
    transition: all var(--anim-time) ease-in-out;
}
.play:hover {
    transform: scale(var(--scale));
}
.play i {
    font-size: 0.9rem;
    margin-right: 10px;
}

.slider {
    width: 50%;
    margin: 0 auto 10px auto;
    background-color: rgb(228, 228, 228);
    padding: 5px;
    border-radius: 50px;
}

/* Pads */

.pad {
    transition: all var(--anim-time) ease-in-out;
}
.pad:hover {
    transform: scale(var(--scale));
}

.pad.active {
    opacity: 0.9 !important;
}
.pad.played {
    transform: scale(1.2);
}

.track:nth-child(1) .pad {
    background-color: rgb(255, 196, 34);
    opacity: var(--opacity);
}
.track:nth-child(2) .pad {
    background-color: rgb(255, 135, 37);
    opacity: var(--opacity);
}
.track:nth-child(3) .pad {
    background-color: rgb(42, 205, 226);
    opacity: var(--opacity);
}
.track:nth-child(4) .pad {
    background-color: rgb(255, 57, 57);
    opacity: var(--opacity);
}
.track:nth-child(5) .pad {
    background-color: rgb(144, 58, 194);
    opacity: var(--opacity);
}
.track:nth-child(6) .pad {
    background-color: rgb(78, 197, 67);
    opacity: var(--opacity);
}

@media (max-width: 1100px) {

    body {
        margin: 0;
        overflow: auto;
    }
    .beatmaker-container {
        width: 100%;
        margin: 0;
        overflow: auto;
    }
    .tracks-container-overflow {
        overflow: scroll;
    }
    .tracks-container {
        padding-right: 20px;
    }

}

@media (max-width: 699px) {

    .slider {
        width: 100%;
    }

}